.img {
  height: 450px;
  width: 100%;
}

.vh {
  height: 100vh;
}
.level {
  font-size: 48px;
}
.card-heighttt {
  min-height: 500px;
}
.card-heightt {
  min-height: 475px;
}
.card-height {
  min-height: 425px;
}
.card-heigh {
  min-height: 350px;
}
.card-hei {
  min-height: 275px;
}
.card-heig {
  min-height: 200px;
}
p {
  font-size: 23px;
}
.pre-code {
  font-size: 20px;
}
.pre-cod {
  font-size: 19px;
}
.table-font {
  font-size: 23px;
}
li {
  font-size: 23px;
}
.table-fon {
  font-size: 18px;
}
.radio {
  height: 30px;
  width: 30px;
}
.yt-img {
  width: 100px;
  height: 100px;
}
